$medium: 850px;

@import "libs/reset.scss";
@import "responsive.scss";

$primary: rgb(121, 172, 240);
$secondary: crimson;
$padding: 20px;
$light: #f1f1f1;
$dark: #333;

body {
  background-color: #000;
  font-family: sans-serif;
  padding: $padding + 10px;
}

.btn {
  background-color: $primary;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  display: block;
  width: 200px;
  height: 70px;
  line-height: 70px;

  &:hover {
    background-color: rgb($primary, 0.7);
  }

  .card & {
    background-color: midnightblue;
    color: white;
    border: 1px solid #ddd;
  }
}

.btn-danger {
  @extend .btn;
  background: darken($secondary, 100);
  &:hover {
    background: lighten($secondary, 3);
  }
}

.btn-mode {
  @extend .btn;
  background: $light;
  color: $dark;
}

.darkMode {
  background: $dark;
  color: $light;
}

@media #{$medium-up} {
  body {
    background: #fff;
  }

  .btn {
    width: 100%;
  }
}
