*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px 10%;
  font-family: "Mulish", sans-serif;
}

nav {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 10px;
}

nav .nav-item {
  text-decoration: none;
  color: #6f73a0;
  font-size: 20px;
}

.nav-item:hover {
  color: rgb(80, 90, 233);
  font-weight: bold;
}

.hero {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.hero-img {
  width: 50%;
}

.hero-img img {
  width: 100%;
}

.started {
  width: 50%;
}

span {
  width: 280px;
  height: 30px;
  padding: 4px 18px;
  border-radius: 19px;
  text-align: center;
  font-weight: 600;
}

.txt-top {
  color: #505ae9;
  background: #eeeffd;
}

.hero .started {
  margin-top: 160px;
}

.started h1 {
  margin: 2px 0px 5px 0px;
  font-weight: 800;
  line-height: 79px;
  color: #101561;
  font-size: 72px;
}

.started .desc {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  display: block;
  width: 500px;
}

.started .domain {
  margin: 48px 0px;
  width: 500px;
  height: 60px;
  background: #fcfcfc;
  border-radius: 16px;
  box-shadow: 0px 5px 38px rgba(0, 0, 0, 0.178);
}

.started input {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: none;
}

.domain .start {
  background: #505ae9;
  border-radius: 16px;
  width: 150px;
  height: 50px;
  border: none;
  color: #fcfcfc;
  font-size: 16px;
  position: relative;
  left: 115px;
  top: 5px;
  cursor: pointer;
}

.start:hover {
  animation: move 1s linear;
}

@keyframes move {
  0% {
    left: 115px;
  }
  50% {
    left: 105px;
  }
  100% {
    left: 115px;
  }
}
/* How it works */
.how-it-works {
  margin-top: 4%;
  background: #101561;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.how {
  width: 80%;
  margin: 0 auto;
}

.txt-hiw {
  color: #fb8b24;
  background: rgba(251, 139, 36, 0.1);
}

.how .entete {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 0px 30px 0px;
}

.title2, .chan h2 {
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}

.entete .txt {
  display: block;
  width: 400px;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.steps {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.steps .card {
  width: 330px;
  height: auto;
  margin-right: 3px;
  padding: 25px 15px;
}

.card-step {
  font-weight: 800;
  font-size: 72px;
  color: #fff;
  opacity: 0.1;
}

.card .card-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.card p {
  font-size: 16px;
  color: #fcfcfc;
  opacity: 0.7;
  width: 280px;
}

.card:hover {
  background: #3f4481;
  border-radius: 10px;
}
.card:hover .card-step {
  opacity: 1;
}

.sec-channel {
  background: #fbfbff;
  padding-top: 5px;
}

.channel {
  margin: 4% auto;
  width: 80%;
  height: auto;
  display: flex;
}

.chan {
  width: 50%;
}

.txt-chan {
  background: #eeeffd;
  color: #505ae9;
}

.chan h2 {
  color: rgb(16, 21, 97);
}

.chan p {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  display: block;
  width: 500px;
  color: rgb(111, 115, 160);
  margin-top: 28px;
}

.channel-card {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card2 {
  width: 230px;
  height: auto;
  background: #fff;
  border-radius: 8px;
  padding: 20px 15px;
  margin: 0px 20px 20px 0px;
}

.card2 p {
  width: 160px;
  margin-top: 12px;
  text-align: start;
}

.card2 h3 {
  color: rgb(63, 68, 129);
}

.card-ico {
  display: block;
  width: 100px;
  height: 50px;
  position: relative;
  bottom: 30px;
  right: 32px;
}

/* TESTIMONIALS */
.testimonials {
  height: auto;
  padding: 25px 15px;
}

.testi-slides {
  margin: 4% auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.test {
  color: #fb8b24;
  background: rgba(251, 139, 36, 0.1);
}

.big-orange {
  width: 466px;
  height: 336px;
  background: #fff7e5;
  border-radius: 146px 78px 168px 168px;
}

.testimonial-txt {
  width: 50%;
}
.testimonial-txt p {
  width: 400px;
  position: absolute;
  margin-top: 2%;
}

.testimonial-img {
  width: 250px;
  height: 375px;
  left: 849px;
  background: url("assets/images/testimony.jpeg") #d9d9d9;
  border-radius: 146px 78px 147px 147px;
  background-position: center;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
