*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Nunito sans, sans-serif;
}


/* Navigation */
nav {
    width: 100%;
    height: 70px;
    position: fixed;
    background: linear-gradient(to bottom, #333, #626262);
    z-index: 10;
}

.menu{
    position: absolute;
    top: 20px;
    width: 30px;
    right: 15px;
    z-index: 25;
    display: none;
    cursor: pointer;
}

.liste-nav{
    background: linear-gradient(to bottom, #333, #626262);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    z-index: 20;
}

.item-nav{
    display: flex;
    align-items: center;
    
}

.item-nav a{
    text-decoration: none;
    font-size: 22px;
    margin: 0 20px;
    color: #f1f1f1;
    text-transform: uppercase;
}

.item-nav a::after{
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 0%;
    transition: width 0.2s ease-in-out;
    background: #f1f1f1;
}

.item-nav a:hover::after{
    width: 100%;
}

@media screen and (max-width:700px) {
    .menu{
        display: block;
    }

    .liste-nav{
        flex-direction: column;
        height: auto;
        padding-top: 70px;
        position: relative;
        display: none;
    }

    .liste-nav.active{
        display: block;
    }

    .item-nav{
        height: 70px;
       justify-content: center;
    }
}

/* Accueil */
.accueil{
    width: 100%;
    height: 100vh;
    min-height: 970px;
    background-image: url('ressources/accueil-pic-lum-down.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px dotted #777;
    padding-top: 1px;
}
.logo{
    border-radius: 50%;
    width: 180px;
    display: block;
    margin: 180px auto 0;
}

h1{
    text-align: center;
    font-size: 100px;
    color: #f1f1f1;
    text-shadow:  0 0 10px #000;
    margin-top: 10px;
    font-family: Merienda one, sans-serif;
}

.sous-titre{
    text-align: center;
    font-size: 25px ;
    font-weight: bold;
    color:#f1f1f1;
    margin: 5px auto;
    text-shadow: 0 0 10px #000;
}

.btn-accueil{
   background: crimson;
   text-decoration: none;
   color: #fff;
   height: 70px;
   width: 200px;
    display: block;
    border-radius: 80px;
    text-align: center;
    font-size: 22px;
    line-height: 70px;
    margin: 30px auto;
    border: 1px solid #333;
    transition: all 0.2s ease-in-out;
}

.btn-accueil:hover {
    background: #fff;
    color: crimson;
}

@media screen and (max-width:850px) {
    .accueil h1 {
        font-size: 60px; 
        
    }

    .sous-titre {
        font-size: 23px;
    }

    .logo {
        margin: 120px auto 0;
    }

    .accueil {
        height: 650px;
        min-height: auto;
        background-position: right;
    }

    .btn-accueil {
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        margin: 15px auto 0;
    }

}

@media screen and (max-width:400px) {
    .accueil h1 {
        font-size: 35px;
    }

    .sous-titre {
        font-size: 20px;
    }

    .logo {
        
        width: 150px;
        margin: 110px auto 0;
        
    } 

    .accueil {
        height: 550px; 
       
    }

    .btn-accueil {
        width: 130px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;

    }

    .menu{
         top: 15px;
         width: 40px;
    }

}

/* Fin accueil */

/* ----------------- Section asymétrique ----------------- */

.section-asym{
    display: grid;
    grid-template: 200px repeat(3, auto) 100px/ 1fr 600px 1fr;
    background: #f1f1f1;
}

.section-asym h2{
    grid-area: 1 / 1 / 2 /-1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
}

/* ----------------- Placement des éléments ----------------- */
.bloc-1, .img-grid-1{
   grid-area: 2 / 2 / 3 / 3;  
}

.bloc-right, .img-grid-2{
    grid-area: 3 / 2 / 4 / 3;
}

.bloc-3, .img-grid-3{
    grid-area: 4 / 2 / 5 / 3;
}

.bloc{
    background: #333;
    color: #f1f1f1;
    position: relative;
    border-radius: 2px;
    height: 750px;
    margin-bottom: 250px;
}

.img-grid{
    width: 500px;
    height: 700px;
    object-fit: cover;
    position: relative;
}

.img-grid-1, .img-grid-3{
    top: 130px;
    left: 20px;
}

.bloc-left{
    left: -300px;
}

.bloc-txt-left{
    width: 50%;
    height: 100%;
}

.bloc-txt-left h3{
    white-space: nowrap;
    font-size: 35px;
    margin: 30px 15px;
}

.bloc-txt-left p{
    padding: 15px;
    line-height: 40px;
}

.bloc button{
    background: crimson;
    color: #fff;
    padding: 20px 35px;
    display: block;
    border-radius: 999px;
    border: 1px solid #333;
    margin: 35px auto;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.bloc-right{
        right: -300px;
}

.img-grid-2{
    top: 130px;
    left: 100px;
}

.bloc-txt-right{
    position: absolute;
    right: 0;
    width: 50%; 
    height: 100%;
}

.bloc-txt-right h3{
    position: relative;
    white-space: nowrap;
    margin: 30px 15px;
    font-size: 35px;
}

.bloc-txt-right p {
    padding: 15px;
    line-height: 40px;
}

/* ----------------- Ligne verticale ----------------- */
 .ligne-gauche{
    grid-area: 1 / 2 / -1 / 3;
    border-left: 1px solid #333;
 }

  .ligne-droite {
      grid-area: 1 / 3 / -1 / 4;
      border-left: 1px solid #333;
  }

  @media screen and (max-width:1300px) {
      .section-asym {
          grid-template: 200px repeat(6, auto) 100px / 1fr 600px 1fr;
      }

      .section-asym h2 {
          font-size: 50px;
          padding-bottom: 0px;
      }

      .bloc-1 {
          grid-area: 2 / 2 / 3 / 3;
      }

      .img-grid-1 {
          grid-area: 3 / 2 / 4 / 3;
      }

      .bloc-right {
          grid-area: 4 / 2 / 5 / 3;
      }

      .img-grid-2 {
          grid-area: 5 / 2 / 6 / 3;
      }

      .bloc-3 {
          grid-area: 6 / 2 / 7 / 3;
      }

      .img-grid-3 {
          grid-area: 7 / 2 / 8 / 3;
      }

      .bloc {
          height: 100%;
          margin-bottom: 0px;
      }

      .img-grid {
          position: static;
          width: 600px;
          height: 750px;
      }

      .img-grid-1,
      .img-grid-3 {
          top: 0px;
          left: 0px;
      }

      .img-grid-2 {
          top: 0px;
          left: 0px;
      }

      .bloc-left {
          left: 0px;
      }

      .bloc-right {
          right: 0px;
      }

      .bloc-txt-left {
          width: 100%;
          height: 100%;
      }

      .bloc-txt-left p,
      .bloc-txt-right p {

          font-size: 20px;
          line-break: 1.8;
          padding: 15px;
      }

      .bloc button {
          font-size: 20px;
          padding: 15px 30px;
          margin-bottom: 30px;
      }

      .bloc-txt-right {
          position: static;
          width: 100%;
          height: 100%;
      }
  }

  @media screen and (max-width:600px) {
      .section-asym {
          grid-template: 150px repeat(6, auto) 100px / 100%;
      }

      .ligne-gauche,
      .ligne-droite {
          display: none;
      }

      .section-asym h2 {
          font-size: 30px;
      }

      .bloc,
      .img-grid {
          grid-area: auto;
      }

      .img-grid {
          width: 100%;
          height: 500px;
      }

      .bloc-txt-right {
          width: 100%;
      }
  }

  /* ----------------- Section parallax ----------------- */
  .parallax{
    width: 100%;
    height: 300px;
    background: url(ressources/parallax-large-flou.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .parallax p{
    font-size: 65px;
    color: #f1f1f1;
  }

  .parallax span{
    display: block;
    font-size: 25px;
    color: #f1f1f1;
  }

   @media screen and (max-width:400px){
    .parallax p{
        font-size: 50px; 
    }
   }

/* ----------------- Section Tarifs ----------------- */

.section-tarifs{
    padding-bottom: 150px;
    border-bottom: 1px dashed #333;
}

.section-tarifs h3{
    text-align: center;
    font-size: 45px;
    margin: 120px 0 20px;
    padding: 0 30px;
}

.section-tarifs hr{
    width: 200px;
    margin: 20px auto 50px;
}

.container-tarifs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.cartes-tarifs{
      width: 350px;
      height: auto;
      border-radius: 5px;
      margin: 15px 15px;
      cursor: pointer;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-in-out;
      position: relative;
}

.cartes-tarifs:hover{
    transform: translateY(-5px);
}

.cartes-tarifs h4{
    text-align: center;
    padding: 25px 20px;
    font-size: 35px;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    background-color: #ffafbf;
}

.cartes-tarifs span{
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}

.cartes-tarifs:nth-child(2) h4{
    background:#ff5073 ;
}

.cartes-tarifs:nth-child(3) h4 {
    background: #ff0033;
}

.cartes-tarifs p{
    font-size: 18px;
    padding: 20px 10px;
    border-top: 1px solid rgb(194, 197, 194);
}

.cartes-tarifs p:nth-last-of-type{
    border-bottom: 1px solid rgb(194, 197, 194);
}

.cartes-tarifs p:nth-child(odd){
    background: rgba(195, 195, 195, 0.219);
}

.cartes-tarifs a{
    display: block;
    text-decoration: none;
    border: 1px solid #333;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 9999px;
    color: #333;
    line-height: 50px;
    font-size: 18px;
    margin: 20px auto;
    transition: all 0.2s ease-in-out;
}

.cartes-tarifs a:hover{
    background: #333;
    color: #f1f1f1;
}

@media screen and (max-width:900px){
    .section-tarifs h3{
        font-size: 35px;
        margin: 50px 0 80px;
    }
}

@media screen and (max-width:425px) {
    .section-tarifs h3 {
        font-size: 30px; 
        padding: 0 10px;
        margin: 50px 0;
    }

        .section-tarifs hr {
            width: 200px;
            margin: 20px auto 20px;
        }
}